<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/projects/yurikaza-ecommerce/products/scss/product.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/projects/yurikaza-ecommerce/index.html"><h1>YURIKAZA</h1></a>
            </div>
        </nav>
    </header>
    <main>
        <section id="product">
            <div class="container">
                <div class="left">
                    <img src="/projects/yurikaza-ecommerce/src/img/louis-vuitton-bouclette-tweed-apron-dress--FLRO43HL8900_PM1_Worn view.png" alt="">
                    <img src="/projects/yurikaza-ecommerce/src/img/louis-vuitton-bouclette-tweed-apron-dress--FLRO43HL8900_PM1_Side view.png" alt="">
                </div>
                <div class="right">
                    <h1>BOUCLETTE TWEED APRON DRESS</h1>
                    <hr>
                    <p>SIZES <span>36</span></p>
                    <hr>
                    <button>Call for inquiry</button>
                    <br>
                    <p>A chic Louis Vuitton apron dress silhouette returns, reimagined with subtle seasonal signatures. Wool-cashmere bouclette tweed introduces a wintry texture, complete with side inserts and martingales that accentuate the flirty skirt. LV laurel wreath buttons nod to the runway’s Ancient Greek inspirations, while a statement studded zip pull recalls the leather goods collection.</p>
                    <h2>Detailed Features</h2>
                    <ul>
                        <li>Length : 85 cm / 33,5 inches</li>
                        <li>Main Material : 66% Wool, 25% Viscose, 4% Polyamide, 4% Cotton, 1% Acrylic
                        </li>
                        <li>Other Material : 100% Polyester, Cow Leather
                        </li>
                        <li>Lining : 100% Silk
                        </li>
                        <li>Black</li>
                        <li>Regular fit
                        </li>
                        <li>Model wears size 36
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section id="recommends">
            <div class="headline">
                <h1>YOU MAY ALSO LIKE</h1>
            </div>
             <div class="container">
                 <div class="col col-1">
                     <img src="/projects/yurikaza-ecommerce/src/img/louis-vuitton-slanted-signature-cameos-and-coins-dress--FLRO31IL3900_PM2_Front view-1.png" alt="">
                     <p>SLANTED SIGNATURE CAMEOS AND COINS DRESS</p>
                 </div>
                 <div class="col col-2">
                     <img src="/projects/yurikaza-ecommerce/src/img/louis-vuitton-lv-vitesse-t-shirt-dress--FMKD01HH4506_PM2_Front view.png" alt="">
                     <p>SLANTED SIGNATURE CAMEOS AND COINS DRESS</p>
                 </div>
                 <div class="col col-3">
                     <img src="/projects/yurikaza-ecommerce/src/img/louis-vuitton-zebra-bust-t-shirt-dress--FLRO32IU2517_PM2_Front view.png" alt="">
                     <p>SLANTED SIGNATURE CAMEOS AND COINS DRESS</p>
                 </div>
             </div>
        </section>
    </main>
    <footer>
        <section id="conntactUs">
            <div class="container">
                <div class="top">
                    <div class="left">
                        <h1>Be aware of our campaign and <br> announcements E-Newsletter</h1>
                        <div class="inputs">
                            <input placeholder="Write Your E-mail Adress" type="text">
                            <button><img src="/projects/yurikaza-ecommerce/src/img/ph_paper-plane-light.svg" alt=""></button>
                        </div>
                    </div>
                    <div class="right">
                        <div class="icons">
                            <a href=""><img src="/projects/yurikaza-ecommerce/src/img/Group 23.svg" alt=""></a>
                            <a href=""><img src="/projects/yurikaza-ecommerce/src/img/Group 24.svg" alt=""></a>
                            <a href=""><img src="/projects/yurikaza-ecommerce/src/img/Group 25.svg" alt=""></a>
                            <a href=""><img src="/projects/yurikaza-ecommerce/src/img/Group 26.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <div class="left">
                        <h1>CORPORATE</h1>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Conntact Us</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <h1>SHOPPING</h1>
                        <ul>
                            <li><a href="#">My Cart</a></li>
                            <li><a href="#">My wishlists</a></li>
                            <li><a href="#">My Orders</a></li>
                            <li><a href="#">Sign up</a></li>
                            <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <h1>HELP</h1>
                        <ul>
                            <li><a href="#">Cargo tracking</a></li>
                            <li><a href="#">Returns and Exchanges</a></li>
                            <li><a href="#">Frequently Asked Questions</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <h1>CONTRACTS</h1>
                        <ul>
                            <li><a href="#">Membership Agreement</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">KK Personal Data</a></li>
                            <li><a href="#">Delivery Terms</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="bottom">
                    <h1>Created by Yurikaza Agecy | All Rights Reserved</h1>
                </div>
            </div>
        </section>
       
    </footer>
</body>
</html>